<div class="jumbotron jumbo-bg">
    <div class="container bg-transparent">
        <a href="/">
          <div class="custom-flex">
            <img class="logo" src="./assets/images/signup.png">
            <div>
              <h1 class="display-4 fw-bolder custom-title text-dark">More WorkOuts</h1>
              <small class="lead fw-bold">See all workouts!!</small>
            </div>
          </div>
        </a>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 overflow-y pl-0 pr-0" id="custom-height">
      <table class="table table-hover mt-3 mb-3 background">
        <thead>
          <tr>
            <th scope="col" style="width: 30%">Workout Name</th>
            <th scope="col" style="width: 20%">Author</th>
            <th scope="col" style="width: 10%">Category</th>
            <th scope="col" style="width: 10%">
                <div class="btn-group" style="width: 100%">
                  <button type="button" style="width: 100%" class="px-2 btn btn-secondary dropdown-toggle btn-sm glyphicon glyphicon-th-list " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sm-view">Action</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/create">Create New Workout</a>
                    <a class="dropdown-item" href="/progress">Progress</a>
                    <a class="dropdown-item" href="/updatestats">Update Stats</a>
                    <a class="dropdown-item" href="/allworkouts" data-see-all="false">All Workouts</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each workouts}}
            <tr>
              <td>{{title}}</td>
              <td>{{name}}</td>
              <td>{{category}}</td>
              <td id="action-buttons">
                  <button type="button" class="btn btn-warning btn-sm" data-bool={{bool}} data-action="view-workout" data-id="{{id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-success btn-sm" data-action="save" data-id="{{id}}"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button> 
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 card mt-5 card-background">
    <div class="card-header">
      <h4>View WorkOut</h4>
    </div>
    <div class="card-body">
      <div class="card-body">
          {{#each workouts}}
            {{#if bool}}
              <h3>{{title}}</h3>
              <p>{{category}}</p>
              <p>{{author}}</p>
              <p class="card-text">{{description}}</p>
            {{/if}}
          {{/each}}
      </div>
    </div>
  </div>
</div>

