 {{> jumbo/action-block }}

<div class="container"> 
    <div class="row justify-content-md-center custom-mx">
      <div class="col-md-9 col-lg-6 background">
        <div class="mb-3 pb-3">
        <label for="name of the workout Input1" class="form-label">Name of the Workout</label>
        <textarea class="form-control" id="nameOfTheWorkoutInput1" rows="1">{{title}}</textarea>
      </div>
      <p></p>
        <div class="mb-3">
        <label for="category Input1" class="form-label">Category</label>
        {{!-- <input type="category" class="form-control" id="categoryInput1" placeholder="category"> --}}
        <select id="categoryInput1" name="category">
              <option value="Full-Body">Full-Body</option>
              <option value="Upper-Body">Upper-Body</option>
              <option value="Lower-Body">Lower-Body</option>
              <option value="Core">Core</option>
              <option value="Endurance">Endurance</option>
              <option value="Flexibilty">Flexibilty</option>
          </select>
        </div>
        
        <div class="mb-2">
          <label for="exerciseprogramTextarea1" class="form-label">Exercise Program</label>
          <textarea class="form-control" id="exerciseprogramTextarea1" rows="10">{{description}}</textarea>
        </div>

        <div class="text-right">
          <a href=""><button class="btn btn-lg btn-primary" id="CUBtn" data-action={{action}} data-id={{id}}><span class="fa fa-list-alt"></span> {{action}}</button></a>
        </div>
        <br>
        <p class="text-right">Lets go <a href="/">Home</a></p>
      </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/login.js"></script>
  <script type="text/javascript" src="../js/signup.js"></script>
  <script type="text/javascript" src="../js/activate.js"></script>
  <script type="text/javascript" src="../js/members.js"></script>
  <script type="text/javascript" src="../js/createOrUpdate.js"></script>   
