 {{> jumbo/log-block }}

<div class="container">
  <div class="row justify-content-md-center custom-mx">
      <div class="card col-12 col-md-8 mb-3">
        <div class="card-body">
          <h4 class="card-title">Your Current Stats</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between"><p>Current Weight:</p><p>{{weight}} lb</p></li>
          <li class="list-group-item d-flex justify-content-between"><p>Height:</p><p>{{height}} ft</p></li>
          <li class="list-group-item d-flex justify-content-between"><p>Age:</p><p>{{age}} years</p></li>
        </ul>
        <div class="card-body">
          <a href="/" class="card-link">Home</a>
          <br>
          <a href="/" class="card-link">Workouts</a>
        </div>
      </div>

    <div class="col-12 col-md-4 overflow-y custom-padding" id="custom-height">
      <table class="table table-hover custom-background" style="width: 100%">
        <thead>
          <tr>
            <th scope="col" style="width: 30%">Date</th>
            <th scope="col" style="width: 20%">Historical BMI</th>
          </tr>
        </thead>
        <tbody>
          {{#each renderData}}
            <tr>
              <td>{{createdAt}}</td>
              <td class="text-center"><span id="bmi">{{bmi}}</span></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
